@import 'base/color.scss';
@import 'base/font.scss';
@import 'base/mixin.scss';
@import 'base/variable.scss';
@import 'base/keyframes.scss';
.footer {
	width: 100%;
	position: relative;
	margin-top: 7rem;
	@include box-sizing(border-box);
	padding: 2% 10%;
	@include flexbox();
	background-color: $footer-bg;
	.footer-info {
		width: 70%;
		display: inline-block;
		position: relative;
		@include box-sizing(border-box);
		padding-right: 10%;
		.footer-info__top {
			width: 100%;
			height: 9vw;
			@include flexbox();
			margin-top: 2rem;
			.top-logo {
				width: 15%;
				height: 100%;
				margin-right: 5%;
				display: inline-block;
				img {
					width: 100%;
				}
			}
			.top-sitemap {
				width: 80%;
				height: 100%;
				@include flexbox();
				@include box-sizing(border-box);
				padding-right: 30%;
				.top-sitemap__tab {
					width: 25%;
					height: 100%;
					&:nth-of-type(1) {
						a {
							@include box-sizing(border-box);
							border-left: 1px solid white;
						}
					}
					a {
						font-family: 'NanumBarunGothic';
						font-size: 1rem;
						line-height: 2rem;
						display: inline-block;
						text-decoration: none;
						color: white;
						width: 100%;
						height: 2rem;
						margin-top: 50%;
						text-align: right;
					}
				}
			}
		}
		.footer-info__bottom {
			width: 100%;
			position: relative;
			margin-top: 2rem;
			margin-bottom: 2rem;
			.bottom-text {
				width: 100%;
				position: relative;
				.text-company {
					width: 100%;
					font-size: 1rem;
					font-family: 'NanumBarunGothic';
					color: white;
					line-height: 1;
					word-break: keep-all;
				}
				.text-rights {
					margin-top: 0.8rem;
					width: 100%;
					font-size: 1rem;
					font-family: 'NanumBarunGothic';
					color: white;
					line-height: 1;
					word-break: keep-all;
				}
			}
			.bottom-tab {
				width: 100%;
				margin-top: 3rem;
				position: relative;
				@include flexbox();
				span {
					color: white;
					font-family: 'NanumBarunGothic';
					font-size: 0.9rem;
					line-height: 1;
					margin-right: 2rem;
				}
			}
		}
	}
	.footer-map {
		width: 30%;
		display: inline-block;
		overflow: hidden;
		@include box-sizing(border-box);
		padding: 2rem;
		position: relative;
		.footer-map__img {
			width: 100%;
			height: 100%;
			background-image: url('../../images/map.jpg');
			background-size: cover;
			background-repeat: no-repeat; 
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
.footer {
	padding: 2% 10%;
	.footer-info {
		width: 55%;
		padding-right: 0;
		.footer-info__top {
			.top-logo {
				width: 18%;
				img {
					width: 100%;
				}
			}
			.top-sitemap {
				width: 77%;
				padding-right: 15%;
			}
		}	
	}
	.footer-map {
		width: 45%;
	}
}
}
@media screen and (max-width: 767px) {
html {
	font-size: $mobile;
}
.footer {
	padding: 7% 10%;
	@include flex-direction(column);
	.footer-info {
		width: 100%;
		padding-right: 0;
		.footer-info__top {
			display: block;
			height: auto;
			margin-top: 1rem;
			.top-logo {
				width: 24%;
				margin-left: 38%;
				margin-right: 0;
				img {
					width: 100%;
				}
			}
			.top-sitemap {
				width: 100%;
				padding-right: 0;
				.top-sitemap__tab {
					&:nth-of-type(4) {
						a {
							@include box-sizing(border-box);
							border-right: 1px solid white;
						}
					}
					a {
						text-align: center;
					}
				}
			}
		}
		.footer-info__bottom {
			.bottom-text {
				text-align: center;
				.text-company {
					line-height: 1.2;
					font-weight: 300;
				}
			}
			.bottom-tab {
				@include justify-content(center);
				span {
					font-size: 0.8rem;
				}
			}
		}
	}
	.footer-map {
		width: 100%;
		height: 50vw;
		padding: 0;
		.footer-map__img {
			display: block;
		}
	}
}
}