@import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Gothic:400,700,800');
//font-family: 'Nanum Gothic', sans-serif;
//font-family: 'Do Hyeon', sans-serif;
@font-face {
    font-family: 'impactregular';
    src: url('../../font/impact_0.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}